@font-face {
    font-family: 'Miller';
    src: url('fonts/miller-roman.woff2') format('woff2'),
         url('fonts/miller-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller';
    src: url('fonts/miller-italic.woff2') format('woff2'),
         url('fonts/miller-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

$miller: 'Miller', serif;


@font-face {
    font-family: 'Mercury';
    src: url('fonts/mercury-roman.woff2') format('woff2'),
         url('fonts/mercury-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mercury';
    src: url('fonts/mercury-semibold.woff2') format('woff2'),
         url('fonts/mercury-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

$mercury: 'Mercury', serif;


@font-face {
    font-family: 'Not Courier Sans';
    src: url('fonts/notcouriersans-webfont.woff2') format('woff2'),
         url('fonts/notcouriersans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Not Courier Sans';
    src: url('fonts/notcouriersans-bold-webfont.woff2') format('woff2'),
         url('fonts/notcouriersans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

$not-courier-sans: 'Not Courier Sans', monospace;