/*

    Theme Name: Newsfeed
    Theme URI: https://newsfeed.bearsmith.org/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Newsfeed`
    Version: 1.0

*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Miller";
  src: url("fonts/miller-roman.woff2") format("woff2"), url("fonts/miller-roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miller";
  src: url("fonts/miller-italic.woff2") format("woff2"), url("fonts/miller-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Mercury";
  src: url("fonts/mercury-roman.woff2") format("woff2"), url("fonts/mercury-roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mercury";
  src: url("fonts/mercury-semibold.woff2") format("woff2"), url("fonts/mercury-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Not Courier Sans";
  src: url("fonts/notcouriersans-webfont.woff2") format("woff2"), url("fonts/notcouriersans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Not Courier Sans";
  src: url("fonts/notcouriersans-bold-webfont.woff2") format("woff2"), url("fonts/notcouriersans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Miller", serif;
}

a {
  color: #000;
}

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

body {
  background: #fff;
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.sub-grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}
@media screen and (min-width: 480px) {
  .sub-grid {
    grid-template-columns: repeat(8, minmax(auto, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .sub-grid {
    grid-template-columns: repeat(12, minmax(0, 4.5rem));
  }
}
.sub-grid > * {
  grid-column: 1/span 4;
}
@media screen and (min-width: 480px) {
  .sub-grid > * {
    grid-column: 1/span 8;
  }
}
@media screen and (min-width: 992px) {
  .sub-grid > * {
    grid-column: 1/span 12;
  }
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: #1a1a1a;
}
.site-header a {
  display: block;
  font-family: "Not Courier Sans", monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  padding: 0 1rem;
  color: #fff;
}

section.feed {
  padding: 10vh 0;
  gap: 1rem;
}
section.feed .page-header {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
section.feed .page-header h1 {
  display: inline-block;
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
}
section.feed .page-header h1 .date {
  display: block;
  font-size: 0.75rem;
  font-family: "Not Courier Sans", monospace;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding-top: 0.75rem;
}
section.feed article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 1rem;
}
@media screen and (min-width: 480px) {
  section.feed article {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 768px) {
  section.feed article {
    grid-column: 4/span 4;
  }
}
@media screen and (min-width: 992px) {
  section.feed article {
    grid-column: 5/span 6;
  }
}
section.feed article:first-of-type {
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
section.feed article .hed h3 {
  font-size: clamp(1.125rem, 1.5vw, 1.5rem);
  line-height: 1.25em;
}
section.feed article .hed h3 a:hover {
  text-decoration: underline;
}
section.feed article .date {
  padding-bottom: 0.25rem;
}
section.feed article .date span {
  text-transform: uppercase;
  font-family: "Mercury", serif;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}
section.feed article .source {
  padding-top: 0.25rem;
}
section.feed article .source .site {
  display: block;
  font-family: "Not Courier Sans", monospace;
  padding-bottom: 0.125rem;
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: bold;
  color: #8a8a8a;
}
section.feed article .source .author {
  font-style: italic;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  color: #8a8a8a;
}

section.feed.this-week .day {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
section.feed.this-week .day + .day {
  padding-top: 4rem;
}
section.feed.this-week .section-header {
  text-align: center;
  grid-column: 1/-1;
  padding-bottom: 0;
}
section.feed.this-week article {
  grid-column: auto;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: unset;
  padding-bottom: unset;
}
section.feed.this-week article .hed h3 {
  font-family: unset;
  text-transform: none;
  letter-spacing: 0;
}