.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: #1a1a1a;

    a {
        display: block;
        font-family: $not-courier-sans;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.75rem;
        padding: 0 1rem;
        color: $white;
    }
}