body,
button,
input,
select,
optgroup,
textarea {
	font-family: $miller;
}

a {
	color: $black;
}

::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

@import "headings";

@import "copy";