section.feed {
    padding: 10vh 0;
    gap: 1rem;

    .page-header {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;

        h1 {
            display: inline-block;
            font-size: clamp(2rem, 5vw, 3rem);
            text-align: center;

            .date {
                display: block;
                font-size: 0.75rem;
                font-family: $not-courier-sans;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.2em;
                padding-top: 0.75rem;
            }
        }
    }

    article {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding-bottom: 1rem;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include tablet {
            grid-column: 4 / span 4;
        }

        @include desktop-small {
            grid-column: 5 / span 6;
        }

        &:first-of-type {
            padding-top: 1rem;
            border-top: 1px solid rgba(0, 0, 0, 0.125);
        }

        .hed {
            h3 {
                font-size: clamp(1.125rem, 1.5vw, 1.5rem);
                line-height: 1.25em;

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .date {
            padding-bottom: 0.25rem;

            span {
                text-transform: uppercase;
                font-family: $mercury;
                font-size: 0.75rem;
                letter-spacing: 0.05em;
                //font-weight: 600;
            }
        }

        .source {
            padding-top: 0.25rem;

            .site {
                display: block;
                font-family: $not-courier-sans;
                padding-bottom: 0.125rem;
                font-size: 0.6875rem;
                text-transform: uppercase;
                letter-spacing: 0.075em;
                font-weight: bold;
                color: #8a8a8a;
            }

            .author {
                font-style: italic;
                font-size: 0.75rem;
                letter-spacing: 0.02em;
                color: #8a8a8a;
            }
        }
    }
}