section.feed.this-week {

    .day {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);

        & + .day {
            padding-top: 4rem;
        }
    }

    .section-header {
        text-align: center;
        grid-column: 1 / -1;
        padding-bottom: 0;
    }

    article {
        grid-column: auto;
        padding-top: 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: unset;
        padding-bottom: unset;

        .hed {
            h3 {
                font-family: unset;
                text-transform: none;
                letter-spacing: 0;
            }
        }
    }
}